<div class="name mb10">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%=stud.name%>" >
</div><br>
<div class="message mb10">
    <label for="message">message</label>
    <textarea name="message" id="message"><%=stud.message%></textarea>
</div><br>
<div class="report mb10">
    <label for="report">report</label>
    <textarea name="report" id="report"><%=stud.report%></textarea>
</div><br>